.appcontainer {
  margin: 2em;
}
.center {
  text-align: center;
  }
.card {
  justify-content: center;
  display: flex;
  width: 100%;
}
.tab {margin-left: 12px; }
body {
  background-color: antiquewhite;
}